* {
    cursor: default !important;
}

input {
    cursor: auto !important;
}


#title-bar { 
    -webkit-app-region: drag; /* Allow dragging on this region */
}

.title-bar button, input {
    -webkit-app-region: no-drag;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
