* {
    cursor: default !important;
}

input {
    cursor: auto !important;
}


#title-bar { 
    -webkit-app-region: drag; /* Allow dragging on this region */
}

.title-bar button, input {
    -webkit-app-region: no-drag;
}

.scrollable {
    overflow: hidden auto; /* Enable scrolling */
    position: relative; /* Required for hover detection */
    scrollbar-gutter: stable both-edges; /* Prevent layout shifts caused by scrollbars */
}

.scrollable::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    height: 5px; /* Set the height of the scrollbar */
    background-color: transparent; /* Transparent scrollbar background */
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: rgba(160, 174, 192, 0); /* Fully transparent by default */
    border-radius: 1px; /* Rounded edges */
    transition: background-color 0.5s ease-in-out; /* Smooth fade effect */
}

.scrollable:hover::-webkit-scrollbar-thumb {
    background-color: rgba(160, 174, 192, 0.5); /* Semi-transparent thumb when hovering */
}

.scrollable::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent track */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
